* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.wrapper {
    width: 1728px;
    height: 477px;
    background-color: #3A3A3A;
    display: flex;
    margin: 0 auto;
    padding: 85px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1569px;
    margin-bottom: 162px;
}

.product-cards {
    font-weight: 800;
    font-size: 28px;
    line-height: 154%;
    padding-bottom: 16px;
}

.media__links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.media__links-item {
    width: 21px;
    height: 18px;
}

.social-icon {
    width: 24px;
    height: 14px;
}

.social__media {
    padding-right: 132px;
}

.products-form {
    width: 477px;
    height: 103px;
    margin-right: 373px;
    margin-bottom: 190px;
}

.follow__product {
    display: flex;
    justify-content: center;
}

.follower-email {
    display: flex;
    max-width: 477px;
    margin-top: 13px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.follower-email input {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    border: none;
    padding: 36px;
    flex-grow: 1;
    border-radius: 10px;
    outline: none;
}

.vertical-line {
    border: 1px solid #000000;
    height: 18px;
    margin-top: 35px;
    border-radius: 10px;

}

.follower-email button {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 20px 15px 19px 21px;
    cursor: pointer;
    border-radius: 10px;
}

.desc {
    padding-bottom: 42px;
}



.links-item {
    padding-bottom: 17px;
    list-style: none;
}

.nav-links {
    text-decoration: none;
}

.links {
    margin-top: 23px;
}

.footer-bottom {
    padding: 15px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

hr {
    width: 66px;
    border: none;
    border-top: 1px solid #777;
    margin: 0 auto 12px;
}

.modal-btn {
    width: 477px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    outline: none;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    min-width: 300px;
}

.modal-showed {
    display: block;
}

.overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: rgb(45, 45, 45);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-showed {
    display: flex;
}

.modal-home {
    background: #FFFFFF;
    padding: 24px;
    width: 477px;
    padding: 24px 28px;
    border-radius: 12px;
    position: relative;
}

.registration {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
}

.btn-registration {
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 40px;
    background: blue;
    color: white;
}

.btn-registration:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}