* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.wrapper {
    width: 1728px;
    height: 477px;
    background-color: #3A3A3A;
    display: flex;
    margin: 0 auto;
    padding: 85px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1569px;
    margin-bottom: 162px;
}

.product-cards {
    font-weight: 800;
    font-size: 28px;
    line-height: 154%;
    padding-bottom: 16px;
}

.media__links {
    display: flex;
    gap: 30px;
}

.media__links-item {
    width: 21px;
    height: 18px;
}

.social-icon {
    width: 24px;
    height: 14px;
}

.social__media {
    padding-right: 132px;
}

.products-form {
    width: 477px;
    height: 103px;
    margin-right: 373px;
    margin-bottom: 190px;
}

.follow__product {
    display: flex;
    justify-content: center;
}

.follower-email {
    display: flex;
    max-width: 477px;
    margin-top: 13px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.follower-email input {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    border: none;
    padding: 36px;
    flex-grow: 1;
    border-radius: 10px;    
}

.vertical-line {
    border: 1px solid #000000;
    height: 18px;
    margin-top: 35px;
    border-radius: 10px;

}

.follower-email button {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 20px 15px 19px 21px;
    cursor: pointer;
    border-radius: 10px;
}

.desc {
    padding-bottom: 42px;
}

a {
    text-decoration: none;
}

li {
     list-style: none;
     padding-bottom: 17px;
}

.links {
    margin-top: 23px;
}

.footer-bottom {
    padding: 15px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

hr {
  width: 66px;
  border: none;
  border-top: 1px solid #777;
  margin: 0 auto 12px;
}