* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

.container {
    width: 1728px;
    height: 477px;
    background-color: #3A3A3A;
    display: flex;
    margin: 0 auto;
    padding: 85px;
}

.wrapper {
    display: flex;
}

.social__media {
    padding-right: 132px;
}

.inputs {
    padding-right: 373px;
}

.product-cards {
    padding-bottom: 16px;
}

.desc {
    padding-bottom: 42px;
}

a {
    text-decoration: none;
}

li {
     list-style: none;
}


