* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}

.main-title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    margin-bottom: 110px;
}

.container {
    width: 1280px;
    padding-top: 220px;
    padding-bottom: 116px;
    margin: 0 auto;
}

#productsList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 85px 0px 85px;
    gap: 45px;
    justify-content: center;
    position: relative;
}

.button-list {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #9d32f5;
    color: #F7F7FA;
    font-size: 25px;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 70px;
}

.bg-image {
    position: absolute;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: 790px;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 70px;
    top: -340px;
}

li {
    list-style-type: none;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.purpose {
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-top: 30px;
    margin-bottom: 5px;

}

.name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 14px;
}
 
.product-price-container {
    display: flex;
    justify-content: space-between;
}

.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.cost {
    font-size: 20px;
    line-height: 24px;
}

.bg-yellow {
    background-color: #FFF000;
}