* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding: 40px;
    background-color: antiquewhite;
}

.buttons {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}